.border-test {
  border: 1px dotted red; /* temporary border toggled using jQuery */
}

html {
  background: linear-gradient(to bottom, white, rgb(203, 202, 217));
  font-family: 'Noto Sans', sans-serif;
}

a:link {
  color: rgb(64, 37, 226);
  text-decoration: none;
}

a:visited {
  color: rgb(232, 44, 219);
}

a:hover {
  color: red;
  font-style: italic;
}

#header {
  border-radius: 5px;
  border: 1px solid transparent;
  margin-top: 40px;
}

h1 {
  font-family: 'Montserrat', cursive;
  font-size: 44px;
  padding-left: 10px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .super-container {
    width: 900px;
  }

  h1 {
    margin: auto;
    text-align: center;
  }

}

.nav-bar-top {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  text-align: right;
}

.dropdown { /* each dropdown item */
  color: black;
  display: inline-block;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.dropdown:hover {
  border-radius: 5px;
  border: 1px solid rgb(185, 200, 186);
  color: rgb(22, 47, 212);
  font-style: italic;
  padding: 5px;
}

.dropdown a:link {
  color: black !important;
}

.dropdown a:hover {
  color: rgb(22, 47, 212) !important;
}

.dropdown-content { /* the content of dropdown menus that displays on hover */
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(185, 200, 186);
  min-width: 200px;
  padding: 10px 5px 10px 5px;
  position: absolute;
  right: -73px;
  top: 30px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  margin: 10px 0px 5px 0px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .nav-bar-top {
    display: block;
  }

  .dropdown {
    background-color: white;
    border: 1px solid black;
    display: block;
    font-size: 30px;
    margin-top: 20px;
  }

  .dropdown-content {
    border: 1px solid black;
    position: relative;
    right: 0px;
  }

}

.home {
  background-color: blue !important;
}

.home a {
  color: white !important;
}

.home a:hover {
  color: white !important;
}

.photos-home-main {
  border: 1px solid transparent;
  display: block;
  margin: 80px auto;
  text-align: center;
}

.photos-home-main img {
  padding-left: 0px;
  padding-right: 5px;
}

@media screen and (max-width: 800px) {
  .photos-home-main {
    padding-left: 10px;
  }

  .photos-home-main img {
    margin-bottom: 80px;
    margin-top: 80px;
    max-width: 200px;
  }

}

.home-blurb {
  margin: auto;
  max-width: 950px;
  position: relative;
}

.home-blurb img {
  height: 300px;
}

.home-blurb p {
  left: 310px;
  position: absolute;
  top: -24px;
  width: 650px;
}

.home-blurb p::first-letter {
  font-size: 24px;
  font-weight: bold;
}

#footer {
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 70px;
  text-align: center;
}

#footer p {
  display: inline;
  margin-left: 50px;
  padding-top: 60px;
  text-align: center;
}
